<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title>File based CMS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/cms.css">
  </head>

  <body>
    <header>
      <% if session[:message] %>
        <p class="message"><%= session.delete(:message) %></p>
      <% end %>
    </header>

    <main>
      <%== yield %>
    </main>
  </body>

</html>
